.wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.block {
  flex: 1;
  height: 250px;
  display: flex;
  text-align: center;
  border: 1px solid black;
  flex-shrink: 0;
  p {
    margin: auto;
  }
}